[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
langchain = "*"
langgraph = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-core = "*"
langchain-postgres = "*"
psycopg-binary = "*"
langgraph-checkpoint-postgres = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.13"
